<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <listener>
        <listener-class>bgu.bioinf.rnaSequenceSniffer.webInterface.WebappContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>ResultsController</servlet-name>
        <servlet-class>bgu.bioinf.rnaSequenceSniffer.Controllers.ResultsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResultsController</servlet-name>
        <url-pattern>/GetResults.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExcelController</servlet-name>
        <servlet-class>bgu.bioinf.rnaSequenceSniffer.Controllers.ExcelController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExcelController</servlet-name>
        <url-pattern>/Excel/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImageController</servlet-name>
        <servlet-class>bgu.bioinf.rnaSequenceSniffer.Controllers.ImageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ImageController</servlet-name>
        <url-pattern>/Image/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResultAnalysisController</servlet-name>
        <servlet-class>bgu.bioinf.rnaSequenceSniffer.Controllers.ResultAnalysisController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResultAnalysisController</servlet-name>
        <url-pattern>/GetAnalysis/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AjaxCheckReady</servlet-name>
        <servlet-class>bgu.bioinf.rnaSequenceSniffer.Controllers.CheckJobReadyController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AjaxCheckReady</servlet-name>
        <url-pattern>/IsJobReady</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmitJob</servlet-name>
        <servlet-class>bgu.bioinf.rnaSequenceSniffer.Controllers.SubmitJobController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmitJob</servlet-name>
        <url-pattern>/SubmitJob.jsp</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/Error.jsp</location>
    </error-page>

    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            /opt/temp/
        </param-value>
    </context-param>

    <session-config>
        <session-timeout>45</session-timeout>
    </session-config>

</web-app>